<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Home</title>
    <script src="home.js"></script>
</head>

<nav class="navbar  navbar-expand-lg navbar-dark " style="background-color: #9f2828;">
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
        <svg xmlns="http://www.w3.org/2000/svg" href = "#" width="26" height="26" fill="white" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z"/>
        </svg>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand nav-link" href="#">Scrumlings Scheduler </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Create a schedule </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">View schedules</a>
            </li>
        </ul>
        <svg xmlns="http://www.w3.org/2000/svg" href = "#" width="26" height="26" fill="white" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
        </svg>
    </div>
</nav>

<h5 class = "greeting-text">
    Welcome to the Scrumlings Scheduler Application!
</h5>


<p>
    Start searching for classes:
</p>

<form class="d-flex">
    <input class="form-control me-1"  type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark" style="background-color: #9f2828;" type="submit">Search</button>
</form>
</html>